<!doctype html>
<html>
  <head>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
     <script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&language=en"></script>
     <style>
     .popover {
    max-width: 100%;
}
     </style>
 </head>
  <body ng-app="ForecastApp" >

    <div class="jumbotron" ng-controller="MainController">
      <div class="container" style="background-image:url("http://static2.wallpedes.com/wallpaper/weather/weather-during-storm-free-desktop-background-wallpaper-image-wallpaper-weather-desktop-direct-hd-download-for-iphone-ipad-borders-free-naruto-mobile-3d.jpg")">
        <div class="form-inline" role="form">
        <input type="text" class="form-control" placeholder="city" ng-model="city" id="city" autocomplete="on" style="width:25%" >
        <input type="submit" class="btn btn-primary btn-sm" value="Get Details" ng-click="findWeather(city)">
      </div>
      <div ng-show="city">
        <h2>Forecast for {{city}}</h2>
        <p>Current Temperature:{{data.data.current_condition[0].temp_F}} &deg;F, {{data.data.current_condition[0].weatherDesc[0].value}} <img src={{data.data.current_condition[0].weatherIconUrl[0].value}} height="4%", width="4%"></p>
        
        <p>Current Time:{{t.data.time_zone[0].localtime.substring(11,16)| date:'shortTime'}}
         <h2>Weather Details for next five days</h2>
          <table class="table table-condensed" style="width:50%" st-table="data.data.weather" st-safe-src="rowCollection">
   
   <thead style="background-color:black;color:white"> 
      <tr>
         <th>DAY</th>
         <th>HIGH</th>
         <th>LOW</th>
         <th>UV INDEX</th>
      </tr>
   </thead>
   <tbody>
      <tr ng-repeat="forecast in data.data.weather">
         <td>{{forecast.date|date:'fullDate'}}</td>
         <td>{{forecast.maxtempF}}</td>
         <td>{{forecast.mintempF}}</td>
         <td>{{forecast.uvIndex}}</td>
      </tr>
    </tbody>
  </table>
      <div>
      <accordion close-others="oneAtATime">
    
    <accordion-group heading="{{news.title}}" ng-repeat="news in news">
      {{news.body}}<a href="#" popover="{{news.content}}" popover-title="{{news.title}}" popover-placement="right" >more...</a>
    </accordion-group>
    
    
  </accordion>
</div>
</div>
 </div>
    </div>
    <script type=text/javascript>
         
 var options = {
  types: ['(cities)'],
  componentRestrictions: {country: "us"}
 };

 

//google.maps.event.addDomListener(window, 'load', initialize);*/

    
      var input = document.getElementById('city');
      var autocomplete = new google.maps.places.Autocomplete(input,options);
    
       </script>

    <!-- Modules -->
    <script src="js/app.js"></script>

    <!-- Controllers -->
    <script src="js/controllers/MainController.js"></script>

    <!-- Services -->
    <script src="js/services/forecast.js"></script>

    <!-- Directives -->


  </body>
</html>
